@model List<UniversityWebApplication.Models.University>

@{
    ViewData["Title"] = "Λίστα πανεπιστημίων";
    Layout = "_Layout";
}

<h1>Λίστα πανεπιστημίων</h1>

<hr />

<table id="universities-table" class="table table-responsive table-striped table-bordered datatable-table">
    <thead>
        <tr>
            <th>Ονομασία</th>
            <th>Διεύθυνση</th>
            <th>Ιστοσελίδα</th>
            <th>Τηλέφωνο</th>
            <th>Ενέργειες</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Λεπτομέριες</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @{
        <script>
            $(document).ready(function () {
                $("#universities-table").dataTable({
                    "language": {
                        "sDecimal": ",",
                        "sEmptyTable": "Δεν υπάρχουν δεδομένα στον πίνακα",
                        "sInfo": "Εμφανίζονται _START_ έως _END_ από _TOTAL_ εγγραφές",
                        "sInfoEmpty": "Εμφανίζονται 0 έως 0 από 0 εγγραφές",
                        "sInfoFiltered": "(φιλτραρισμένες από _MAX_ συνολικά εγγραφές)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "Δείξε _MENU_ εγγραφές",
                        "sLoadingRecords": "Φόρτωση...",
                        "sProcessing": "Επεξεργασία...",
                        "sSearch": "Αναζήτηση:",
                        "sSearchPlaceholder": "Αναζήτηση",
                        "sThousands": ".",
                        "sUrl": "",
                        "sZeroRecords": "Δεν βρέθηκαν εγγραφές που να ταιριάζουν",
                        "oPaginate": {
                            "sFirst": "Πρώτη",
                            "sPrevious": "Προηγούμενη",
                            "sNext": "Επόμενη",
                            "sLast": "Τελευταία"
                        },
                        "oAria": {
                            "sSortAscending": ": ενεργοποιήστε για αύξουσα ταξινόμηση της στήλης",
                            "sSortDescending": ": ενεργοποιήστε για φθίνουσα ταξινόμηση της στήλης"
                        }
                    }
                });
            });
        </script>
    }
}