@model List<VolunteersReportsListViewModel>

@{
    ViewData["Title"] = "Λίστα των Reports (Εθελοντών) για το Task: " + Model.First().TaskName;
}

<div class="row">
    <div class="col-12">
        <h2>Λίστα Reports (Εθελοντών) | Task: @Model.First().TaskName</h2>
    </div>
</div>

<hr class="basic" />

<div class="table-responsive">
    <table id="reports-table" class="table table-bordered datatable-table">
        <thead>
            <tr>
                <th>Τίτλος</th>
                <th>Ημερομηνία</th>
                <th class="text-center">Task</th>
                <th class="text-center">Λειτουργίες</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td class="text-center">
                        <a asp-controller="Task" asp-action="Details" asp-route-id="@item.TaskId">@item.TaskName</a>
                    </td>
                    <td class="text-center">
                        <a asp-controller="UniversityReport" asp-action="Details" asp-route-id="@item.Id" class="btn btn-default table-button-icon" role="button" data-toggle="tooltip" title="Προβολή του Report"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr class="basic" />

<a class="btn btn-basic" href="javascript:history.go(-1)" role="button">Πίσω</a>

@section scripts
{
    @{
        await Html.RenderPartialAsync("_DataTablesLayout");

        <script>
            $(document).ready(function () {
                $("#reports-table").dataTable({
                    "autoWidth": true,
                    "language": {
                        "sDecimal": ",",
                        "sEmptyTable": "Δεν υπάρχουν δεδομένα στον πίνακα",
                        "sInfo": "Εμφανίζονται _START_ έως _END_ από _TOTAL_ εγγραφές",
                        "sInfoEmpty": "Εμφανίζονται 0 έως 0 από 0 εγγραφές",
                        "sInfoFiltered": "(φιλτραρισμένες από _MAX_ συνολικά εγγραφές)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "Δείξε _MENU_ εγγραφές",
                        "sLoadingRecords": "Φόρτωση...",
                        "sProcessing": "Επεξεργασία...",
                        "sSearch": "Αναζήτηση:",
                        "sSearchPlaceholder": "Αναζήτηση",
                        "sThousands": ".",
                        "sUrl": "",
                        "sZeroRecords": "Δεν βρέθηκαν εγγραφές που να ταιριάζουν",
                        "oPaginate": {
                            "sFirst": "Πρώτη",
                            "sPrevious": "Προηγούμενη",
                            "sNext": "Επόμενη",
                            "sLast": "Τελευταία"
                        },
                        "oAria": {
                            "sSortAscending": ": ενεργοποιήστε για αύξουσα ταξινόμηση της στήλης",
                            "sSortDescending": ": ενεργοποιήστε για φθίνουσα ταξινόμηση της στήλης"
                        },
                        buttons: {
                            excel: "EXCEL",
                            pdf: "PDF",
                            print: "Εκτύπωση"
                        }
                    },
                    dom: "Bfrtip",
                    buttons: [
                        "excel", "pdf", "print"
                    ],
                    buttons: {
                        buttons: [
                            { extend: "excel", className: "btn-basic", exportOptions: { columns: [0, 1, 2, 3] } },
                            { extend: "pdf", className: "btn-basic", exportOptions: { columns: [0, 1, 2, 3] } },
                            { extend: "print", className: "btn-basic", exportOptions: { columns: [0, 1, 2, 3] } }
                        ]
                    }
                });

                //==========================================================//

                $("[data-toggle='tooltip']").tooltip();
            });
        </script>
    }
}